<%= render :partial => "layouts/super_show", 
  :locals => 
    { columns: 
      [:id, :user, :name, :ingredients], 
      member: @recipe
    } 
%>
<!-- 
<%= render :partial => "layouts/super_table", 
  :locals => 
    { 
      grid:
        [
          [{th: 'Ingredient'},{th: 'Component'},{th: 'URL'},{th: '$'},{th: '$/serving'},{th: 'Total amount'},{th: 'Serving amount'}, {th: '# servings'},{th: 'Combined Nutrients'}].concat( Nutrient.all.map{|n| {th: n.name}}),
          @recipe.ingredients.each{|i|
              {th: i.inspect}
          },
          # [{th: 'Ingredient'}, {th: 'Ingredient'}],
          # [{th: 'Component'}],
        ]
    } 
%>
 -->
<hr>

<% padded_columns = 7 %>

<div class=" table table-condensed">
  <table>
    <tr>
      <th colspan=<%= padded_columns+1 %>>
      </th>
      <th colspan="100">
        Nutrients
      </th>
    </tr>


    <tr>
      <th>Ingredient</td>
      <th>Component</th>
      <th>Url</th>
      <th>Price</th>
      <th>Price per Servings</th>
      <th>Total Amount</th>
      <th>Serving size</th>
      <th># of Servings</th>
      
      <th>Combined Nutrients</th>
      <% Nutrient.all .each do |n| %>
        <td>
          <%= link_to n.name, n %>
        </td>
      <% end %>

    </tr>



    <% @recipe.ingredients.each do |ingredient| %>
      <tr>

        <td><%= link_to "#{ingredient.amount.round(2)} #{ingredient.component.units} of #{ingredient.component.name}", ingredient %></td>
        <td><%= link_to ingredient.component.name, ingredient.component %></td>
        <td><%= link_to "#{ingredient.component.url[0..10]}...", ingredient.component.url %></td>
        <td><%= "$#{ingredient.component.price}"  %> </td>
        <td><%= "$#{(ingredient.component.price/(ingredient.component.total_amount/ingredient.amount)).round(2)}"  %> </td>

        <td><%= "#{ingredient.component.total_amount} #{ingredient.component.units}"  %> </td>
        <td><%= "#{ingredient.amount.round(2)} #{ingredient.component.units}"  %> </td>
        <td><%= "#{(ingredient.component.total_amount/ingredient.amount).round(2)}"  %> </td>
        





        <td><%= raw ingredient.component.component_nutrients.map{|cn| link_to "#{cn.amount.to_s}  #{cn.nutrient.units} of #{cn.nutrient.name}", cn}.join("") %></td>

        <% Nutrient.all.each do |nutrient| %>
        <td>
          <%= raw ComponentNutrient.select { |cn| cn.component_id == ingredient.component.id && cn.nutrient_id == nutrient.id }.map{|cn| link_to "#{cn.amount} #{nutrient.units}", cn}.join('') %>

        </td>
        <% end %>
      </tr>
    <% end %>

      <tr>
      <th>FDA RDA </th>
      <td colspan=<%= padded_columns %>> </td>
      <% Nutrient.all .each do |n| %>
        <td>
          <%= "#{n.fda_rda} #{n.units}" %>
        </td>
      <% end %>
    </tr>

    <tr>
      <th>Actual </th>
      <td colspan=<%= padded_columns %>> </td>
      <% Nutrient.all .each do |n| %>
        <td>
          Actual
        </td>
      <% end %>
    </tr>
    <tr>
      <th>RDA %</th>
      <td colspan=<%= padded_columns %> > </td>
      <% Nutrient.all .each do |n| %>
        <td>
          percent
        </td>
      <% end %>
    </tr>
    <tr>
      <th>Combined</th>
      <td colspan=2></td>

      <td>$ <%= @recipe.ingredients.sum{|ingredient| ingredient.component.price }    %></td>
      <td>$ <%= @recipe.ingredients.sum{|ingredient| (ingredient.component.price/(ingredient.component.total_amount/ingredient.amount)) }.round(2)    %></td>

        
      <td>
      </td>
    </tr>
  </table>
</div>