<fieldset>
  <b><%= f.label :amount, "Amount" %></b>
  <%= f.number_field :amount %>



  <%= f.fields_for :component do |builder| %>
    <%= render 'component_field', f: builder %>
  <% end %>

  <p>
    <b><%= f.label :_destroy, "Remove Ingredient" %> </b>
    <%= f.check_box :_destroy %>
  </p>

</fieldset>