<%= render :partial => "layouts/super_index", 
  :locals => 
    { columns: 
      [:id, :user, :name], 
      collection: @recipes
    } 
%>

<!-- <h1>Listing recipes</h1>

<table>
  <tr>
    <th>Id</th>
    <th>User</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recipes.each do |recipe| %>
  <tr>
    <td><%= recipe.id %></td>
    <td><%= recipe.user_id %></td>
    <td><%= recipe.name %></td>
    <td><%= link_to 'Show', recipe %></td>
    <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
    <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recipe', new_recipe_path %>
 -->