<%= render :partial => "layouts/super_show", 
  :locals => 
    { columns: 
      [:id, :name, :unit, :component_nutrients, :components, :ingredients, :recipes], 
      member: @nutrient
    } 
%>
<!-- 


  <p id="notice"><%= notice %></p>

  <p>
    <b>Name:</b>
    <%= @nutrient.name %>
  </p>

  <p>
    <b>Id:</b>
    <%= @nutrient.id %>
  </p>

  <p>
    <b>Unit:</b>
    <%= @nutrient.unit %>
  </p>

  <p>
    <b> Component Nutrients </b>
    <% @nutrient.component_nutrients.each do |cn| %>
      <p><%= link_to cn.inspect, cn  %>/<p>
    <% end %>
  </p>

  <p>
    <b> Components </b>
    <% @nutrient.components.each do |c| %>
      <p><%= link_to c.inspect, c  %>/<p>
    <% end %>
  </p>

  <p>
    <b> Ingredients </b>
    <% @nutrient.ingredients.each do |i| %>
      <p><%= link_to i.inspect, i  %>/<p>
    <% end %>
  </p>

  <p>
    <b> Recipes </b>
    <% @nutrient.recipes.each do |r| %>
      <p><%= link_to r.inspect, r %>/<p>
    <% end %>
  </p>
  <%= link_to 'Edit', edit_nutrient_path(@nutrient) %> |
  <%= link_to 'Back', nutrients_path %>
 -->