<%= render :partial => "layouts/super_index", 
  :locals => 
    { columns: 
      [:id, :body_profile, :nutrient, :daily_requirement], 
      collection: @body_profile_nutrients
    } 
%>

<!-- <h1>Listing body_profile_nutrients</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Body profile</th>
    <th>Nutrient</th>
    <th>Daily requirement</th>
    <th>Actions</th>

  </tr>

<% @body_profile_nutrients.each do |body_profile_nutrient| %>
  <tr>
    <td><%= body_profile_nutrient.id %></td>
    <td><%= link_to body_profile_nutrient.body_profile.name, body_profile_nutrient.body_profile%></td>
    <td><%= link_to body_profile_nutrient.nutrient.name, body_profile_nutrient.nutrient %></td>
    <td><%= body_profile_nutrient.daily_requirement %></td>
    <td>
      <%= render :partial => "layouts/actions", :locals => { :object => body_profile_nutrient, :actions => [:show, :edit, :destroy]} %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Body profile nutrient', new_body_profile_nutrient_path %>
 -->