<h1>
  <%= "Showing #{member.class}:  '#{member.identify}'"  %>
</h1>

<h3>
  <%= member.class.description  %>
</h3>
 
 <%= link_to "Back to all #{params[:controller]}", "/"+params[:controller] %> 

<% columns.each do |column| %>
  <p>
    <b><%= column.to_s %></b></br>
    <%= raw apply_chain_link_or_print([*column], member) %>

  </p>
<% end %>

<%= render :partial => "layouts/actions", :locals => { :object => member, :actions => [:edit, :destroy]} %>